@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Instrument;
  font-weight: 400;
  src: url(../../public/fonts/static/InstrumentSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Instrument;
  font-weight: 600;
  src: url(../../public/fonts/static/InstrumentSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: Instrument;
  font-weight: 700;
  src: url(../../public/fonts/static/InstrumentSans-Bold.ttf) format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Typography */
.heading {
  &-m {
    line-height: 150%;
    @apply font-bold text-[2rem]
  }

  &-s {
    line-height: 150%;
    @apply font-bold text-base
  }
}

.body {
  &-m {
    line-height: 150%;
    @apply text-base
  }

  &-s {
    line-height: 150%;
    @apply text-xs
  }
}